body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 28px 16px 28px 16px;
  border-bottom: 1px solid black;
  margin: 0px 24px 32px 24px;
}

.nav-profile {
  text-align: right;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  padding: 8px;
  border: 1px solid black;
  margin: 4px;
}

a {
  color: #bc544b;
  text-decoration: none;
  font-size: 16px;
}

h1 {
  font-size: 48px;
  margin:8px
}

h2 {
  font-size: 32px;
}

.weather-div {
  border: 1px solid black;
  width: 70%;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.weather-info {
  display: flex;
  justify-content: center;
}

.weather-header {
  margin: 8px;
}

.day-info {
  margin-left: 10px;
}

.temp-panel {
  width: 357px;
  height: 442px;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid black;
  margin: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.temp-contents {
  padding: 70px 0;
}

.pressure-panel {
  width: 357px;
  height: 150px;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid black;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wind-panel {
  width: 357px;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid black;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-card-container {
  display: flex;
  justify-content: center;
}

.small-card {
  width: 80px;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid black;
  margin: 8px;
}

.small-text {
  font-size: 14px;
}
